<div class="container">
<h1>Consulta de Créditos</h1>


<div class="input-row">
<input placeholder="Número da NFS-e" [(ngModel)]="numeroNfse" />
<button (click)="buscarPorNfse()">Buscar por NFS-e</button>
</div>


<div class="input-row">
<input placeholder="Número do Crédito" [(ngModel)]="numeroCredito" />
<button (click)="buscarPorCredito()">Buscar por Crédito</button>
</div>


<div *ngIf="loading">Carregando...</div>
<div *ngIf="error" style="color:crimson">{{error}}</div>


<table class="table" *ngIf="resultados?.length">
<thead>
<tr>
<th>nº Crédito</th>
<th>nº NFS-e</th>
<th>Data</th>
<th>Valor ISSQN</th>
<th>Tipo</th>
<th>Simples</th>
<th>Alíquota</th>
<th>Valor faturado</th>
<th>Valor dedução</th>
<th>Base cálculo</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let c of resultados">
<td>{{c.numeroCredito}}</td>
<td>{{c.numeroNfse}}</td>
<td>{{c.dataConstituicao}}</td>
<td>{{c.valorIssqn | number:'1.2-2'}}</td>
<td>{{c.tipoCredito}}</td>
<td>{{c.simplesNacional}}</td>
<td>{{c.aliquota}}</td>
<td>{{c.valorFaturado | number:'1.2-2'}}</td>
<td>{{c.valorDeducao | number:'1.2-2'}}</td>
<td>{{c.baseCalculo | number:'1.2-2'}}</td>
</tr>
</tbody>
</table>


<div *ngIf="!resultados?.length && !loading">Nenhum resultado.</div>
</div>